@charset "utf-8";
/*body{min-width:320px; max-width: 750px; margin-left: auto!important; margin-right: auto!important;background: #f4f4f4;}*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,menu,dl,dt,dd,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{border: 0;padding: 0;margin: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,summary{display: block;}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px; line-height: 1.6; color: #333333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}
body{background: #f4f4f4;}
input,button{overflow: visible;vertical-align:middle;outline:none;-webkit-appearance:none; border:none;}
ul,ol,dl{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:100%;}
i,em{ font-style:normal;}
a{color:#333;text-decoration:none;outline:none}
a:link{color:#333;text-decoration:none;outline:none;}
/*a:visited{ color:#333;text-decoration:none;outline:none;}*/
a:hover{ color:#333;}
a:active{ color:#333;}
img{border:0;vertical-align:middle;}
.fl{ float: left;}.fr{float: right!important;}.tc{text-align:center;}
/*.fb{font-weight:bold}.fn{font-weight:normal}.tc{text-align:center}.tl{text-align:left;}.tr{text-align:right;}.ten2{ text-indent: 2em;}*/
/*.rel{position:relative}.abs{position:absolute}.ovh{overflow:hidden}.db{display:block}.dn{display:none}.di{display:inline;}.dib{display:inline-block;}.vm{vertical-align: middle;}.auto{margin-left:auto;margin-right:auto}*/
.clearfix:after{display:block;content:"clear";height:0;clear:both;visibility:hidden}
.f12{font-size: 12px;}.f13{font-size: 13px;}.f14{font-size: 14px;}
.mt2{margin-top: 2px;}.mt5{margin-top: 5px;}.mt10{margin-top: 10px;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}
.mb10{margin-bottom: 10px;}.mb15{margin-bottom: 15px;}
.pb10{padding-bottom: 10px;}
.img-responsive{max-width: 100%;height: auto;display: block; width: 100%;}
.bgf{background: #fff;}
.c-e63{ color: #e63737;}.c-61b{ color: #61ba12;}.c-333{ color: #333;}.c-666{ color: #666;}.c-999{ color: #999;}
.positionFixed{ position: fixed; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden;}
/*header*/
.header{position: relative; padding: 10px 0; height: 30px; background: #f8f8f8;z-index: 2;}
.header h2{text-align: center; line-height: 30px; font-weight: normal;font-size: 18px;}
.head-left{ width: 14%; height: 30px; background: url(../images/arrow_l.png) no-repeat center center; background-size: 19px auto;}
.head-left a{display: block; width: 19px; height: 30px; margin: 0 auto;}
.head-search{ width: 71%; height: 30px; line-height: 30px; text-align: center; background: #f0f0f0; overflow: hidden; border-radius: 5px; -webkit-border-radius: 5px;}
/*.head-search input{margin-left: 20%; height: 22px; line-height: 22px; padding: 4px 10px; width: 100%; background: #f0f0f0}*/
.head-search a{display: inline-block; color: #aaa; font-size: 13px;}
.head-search a img{ width: 14px; height: auto; margin-right: 10px; margin-top: -3px;}
.head-map{ width: 15%; text-align: center; line-height: 30px;}
.head-map a{ font-size: 16px; color: #ffb950;}

/*头部导航*/
.per-head{position: relative; height: 43px; line-height: 43px; background: #f8f8f8;overflow: hidden;z-index: 2;}
.per-head h1{ text-align: center;font-size: 18px;font-weight: normal;}
.per-fh{display: block; position: absolute; left: 27px; top: 12px; width: 19px; height: 18px; background: url(../images/arrow_l.png) no-repeat; background-size: 100% 100%;}
.per-fh.fh2{ left: 15px;}
.head-set{position: absolute; right: 12px; top: 14px; display: inline-block; width: 17px; height: 16px; background: url(../images/bg10.png) no-repeat; background-size: 100% 100%;}
.head-dh{position: absolute; right: 12px; top: 11px; display: inline-block; width: 20px; height: 20px; background: url(../images/dh.png) no-repeat; background-size: 100% 100%;}

/*条件搜索*/
.c-search{ height: 40px; border-bottom: 1px solid #f4f4f4; background: #fff;}
.c-search.menuinfo{position: fixed; top: 0px; left: 0px; width: 100%; z-index: 999;}
.c-nav{ height: 41px;}
.c-menu{position: relative; display: -webkit-box;display: -webkit-flex;display: flex;height:40px;width:100%;background:#FFF;font-size:14px;border-bottom:1px solid #d9d9d9;-webkit-box-pack:center;-webkit-box-align:center;z-index: 2;}
.c-menu li{position:relative; padding:0 10px;height:40px;width:100%; display:-webkit-box;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-pack:center;-webkit-box-align:center;	-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-flex:1;	color:#333;overflow: hidden;}
.c-menu li:before{position:absolute;left:0;top:10px;content:'';width:1px;height:20px;background:#d9d9d9}
.c-menu li:first-child:before{content:'';width:0;height:0}
.c-menu span{display: block; line-height: 1; text-align:center;max-width:75%; overflow: hidden; height: 40px; line-height: 40px;}
.c-menu li:after{display: block; margin-left:6px;content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #666;border-bottom:0}
.c-menu .active{color:#ffb950;}
.c-menu .active:after{border-top:0;border-bottom:5px solid #ffb950}

.pop{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 1}
.c-com{display: none; position: relative; background: #fff; z-index: 5}
.c-com>div{display: none; background: #fff;}
.c-total li,.c-type li{text-align: center; line-height: 40px; font-size: 16px; border-bottom: 1px solid #e5e5e5;}
.c-total li a,.c-type li a{display: block;}
.c-total li.active a,.c-type li.active a{ color: #ffb950; background: #f4f4f4;}
.c-total li:hover,.c-type li:hover{background: #f4f4f4; color: #ffb950;}
.c-sec{ text-align: center; font-size: 14px; height: 34px; padding: 10px 0; line-height: 34px;}
.c-sec input{display: inline-block; width: 50px; height: 20px; line-height: 20px; margin: 0 10px; padding: 6px 0 6px 8px; border: 1px solid #a0a0a0; border-radius: 5px;}
.c-sec button{display: inline-block; height: 34px; width: 80px; background: #ffb950; color: #fff; border-radius: 5px;}
.c-region{position: relative; height: 240px; overflow: hidden;}
.c-region ul{ height: 240px; overflow: auto;}
.c-region li{ line-height: 40px; height: 40px; font-size: 16px;}
.c-region li h3{float: left; height: 39px; line-height: 39px; font-weight: normal; padding-left: 8%;background: #f4f4f4; width: 42%;border-bottom: 1px solid #e5e5e5;}
.c-region li dl{ float: right;display: none; width: 50%; background: #fff;}
.c-region li.active h3{background: #fff; color: #ffb950;}
.c-region li.active dl{ display: block; position: absolute; left: 50%; top: 0; overflow: auto;}
.c-region li.active dl dd a{ padding-left: 10%;display: block; }
.c-region li dl dd.active a{color: #ffb950;}
.c-other-h{ padding-bottom: 10px;}
.c-other h3{padding-top: 10px; font-size: 16px; color: #999; padding-left: 2.5%;}
.c-other ul{ width: 95.7%; margin: 0 auto;}
.c-other ul li{ float: left; margin: 0 1%; width: 23%; height: 28px; margin-top: 10px; text-align: center; font-size: 14px; overflow: hidden; }
.c-other ul li span{ display: block; height: 25px; line-height: 26px; border:1px solid #a0a0a0; color: #666;}
.c-other ul li.active span{background: #ffb950; color: #fff; border-color: #ffb950;}
.c-btn{text-align: center; height: 36px; padding: 15px 0; border-top: 1px solid #d9d9d9;}
.c-btn input{display: inline-block; margin: 0 5px; width: 37%; height: 36px; font-size: 16px; background: #fff; border-radius: 5px; -webkit-border-radius: 5px; border:1px solid #a0a0a0;}
.c-other ul.other-b li{font-size: 13px;}

/*房源列表*/
/*.fy-list{padding-bottom: 30px;}*/
.fy-con{ height: 80px; padding: 12px 8px; background: #fff; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.fy-l{position: relative; float: left; width: 100px; height: 80px; margin-right: 10px;}
.fy-l img{ width: 100%; height: 100%;}
.fy-sm{position: absolute; left: 8px; top: -2px; width: 26px; padding: 0 3px; height: 30px; background: #ff4431; font-size: 10px; color: #fff;text-align: center; line-height: 14px;}
.fy-qf{position: absolute; right: 0; bottom: 0; padding: 0 5px; color: #fff; border-radius: 5px; -webkit-border-radius: 5px;}
.fy-qf.qf1{ background: #18b4ed;}
.fy-qf.qf2{ background: #61ba12;}
.fy-r{height: 80px; overflow: hidden;}
.fy-r h3{margin-top: -2px; height: 20px; line-height: 20px; overflow: hidden; font-size: 16px; font-weight: normal; white-space: nowrap;text-overflow: ellipsis;}
.fy-r h4{height: 20px; line-height: 20px; font-size: 14px; font-weight: normal; color: #999; overflow: hidden;}
.fy-r h4 span{ float: right; color: #e63737; font-size: 16px;}
.fy-r p{font-size: 13px; line-height: 20px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.fy-r p span{float: right;}
.fy-r .fy-sq{ height: 18px; line-height: 16px; margin-top: 4px;}
.fy-r .fy-sq span{ font-size: 12px; padding: 0px 2px; border:1px solid;}
.fy-r i.zs1{ color: #60d6fe;}
.fy-r i.zs2{ color: #73c850;}
/**********房源详细**********/
/*art-tit*/
.art-tit{font-size: 14px; margin-bottom: 10px; margin-left: 5px;}
.art-tit.move{ background: url(../images/bg4.png) no-repeat 98% center; background-size: 7px auto}
/*focus*/
.focus{ width:100%; height:260px; position:relative; overflow:hidden; }
.focus .hd{ width:100%; height:10px;  position:absolute; z-index:1; bottom:15px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:10px;}
.focus .hd ul li{ display:inline-block; width:8px; font-size: 0; height:8px; border:1px solid #fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; margin:0 5px; vertical-align:top; overflow:hidden;  }
.focus .hd ul .on{ background:#fff;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;  height:260px; }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
.xczs{ width: 40px; height: 22px; text-align: center; line-height: 22px; position: absolute; color:#fff; bottom:20px; right: 8px; background-color: rgba(0, 0, 0, 0.6);border-radius:20px; padding: 2px 5px; font-size:14px;z-index: 999}
.fh{position: absolute; left: 10px; top: 25px; width: 40px; height: 34px; background: url(../images/bg1.png) no-repeat; background-size: 100% 100%; z-index: 99999}
/*art-info*/
.art-info{position: relative; padding: 16px 8px; background: #fff;}
.art-info.borb{border-bottom: 1px solid #f4f4f4;}
.art-info h2{font-size: 18px; font-weight: normal; height: 24px; line-height: 24px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.art-info h2.bor{border-left: 3px solid #ffb950; margin-left: -8px; padding-left: 5px;}
.art-info p{line-height: 32px; margin-top: 5px; font-size: 14px; color: #999;}
.art-info p i{ color: #007aff;}
.art-info p span{ border:1px solid; height: 20px; line-height: 20px; padding: 0 5px; margin: 0 2px; display: inline-block;}
.art-in{ margin: 10px 0 15px; width: 100%;background: #f5f5f5; display: -webkit-box;display: -webkit-flex;display: flex;}
.art-in li{height: 50px; line-height: 50px; text-align: center;font-size: 14px; -webkit-box-flex:1;-webkit-flex:1;flex:1;}
.art-in li:first-child{ color: #e63737;}
.art-in li span{ font-size: 18px;}
.smsh{position: absolute; right: 10px; top: 22px; width: 69px; height: 60px; background: url(../images/bg2.png) no-repeat; background-size: 100% 100%;z-index: 2}
/*fyin*/
.fyin,.fyfo,.hfpq,.kfjl,.zbwz,.xqhx{ padding: 16px 8px;font-size: 14px;}
.tqfy{padding-top: 16px;}
.tqfy .art-tit{margin-right: 8px; padding-left: 8px;margin-bottom: 0;}
.fyin ul{ width: 100%;}
.fyin ul li{float: left; width: 50%; font-size: 14px; height: 30px; line-height: 30px; overflow: hidden;white-space:nowrap}
.fyin ul li.ww{ width: 100%;}
.fyin ul li span{ color: #999; display: inline-block;/* width: 42%;*/ width: 60px;}
.fyin ul li a{ color: #007aff; font-size: 12px; border:1px solid #007aff; border-radius: 5px; padding: 0 2px;}
/*fyfo*/
.fyfo .fyfo-in{ height: 220px; overflow: hidden;}
.fyfo .fyfo-in p{ font-size: 14px; padding: 0 3px;}
.fyfo .fyfo-in.active{ height: auto;}
.fyfo .see{ margin-top: 10px; margin-bottom: -15px; color: #ffb950; border-top: 1px solid #eee;}
.fyfo .see span{ padding: 10px 0; display: inline-block; color: #ffb950;}
.fyfo .see i{ display: inline-block;width: 14px;height: 8px;margin-top: -2px; margin-left: 5px; vertical-align: middle; background: url(../images/bg3.png) no-repeat right center; background-size: 14px auto;}
.fyfo .see.active i{-webkit-transform:rotate(180deg);}
/*hfpq*/
.hfpq dt{float: left; width: 15%; color: #999;}
.hfpq dd{float: left;}
.hfpq dd:nth-child(2){ width: 48%; padding-right: 2%; overflow: hidden;white-space: nowrap; text-overflow: ellipsis}
.hfpq dd:nth-child(3){ width: 35%;}
/*kfjl*/
.kfjl dl{ margin-top: 10px; line-height: 28px;}
.kfjl dt,.kfjl dd{float: left;}
.kfjl dt{ width: 30%; color: #999;}
.kfjl dd:nth-child(2){ width: 40%;}
.kfjl dd:nth-child(3){ width: 30%;}
.kfjl dd a{ display: inline-block; margin: 0 2px; padding: 0px 5px; line-height: 26px; border:1px solid #ffb950; background: #fffaf0; color: #ffb950; border-radius: 5px; -webkit-border-radius: 5px;}
/*art-foot*/
.art-foot{ position: fixed; bottom: 0px; left: 0px; width: 100%; height: 58px; background: #fff; border-top: 1px solid #e5e5e5;}
.art-footl{ width: 21%; height: 58px; text-align: center; border-right:1px solid #e5e5e5;}
.art-footl span{display: block; font-size: 14px; line-height: 14px;}
.art-footl .art-cj{margin-top: 10px; display: inline-block; width: 20px; height: 20px; background: url(../images/sc.png) no-repeat left bottom; background-size: 20px auto;}
.art-footl .art-cj.active{ background-position: left top;}
.art-foot .art-footr{ width: 78%;}
.art-foot .art-footr a{ display: inline-block;    margin: 10px 0 10px 7%; width: 40%; height: 40px; text-align: center; line-height: 40px;font-size: 18px; color: #fff; border-radius: 5px; -webkit-border-radius: 5px;}
.art-foot .art-footr a:nth-child(1){background: #5fd7ff;}
.art-foot .art-footr a:nth-child(2){background: #ffb950;}
/*拨打电话*/
.bdtela{border-radius: 10px!important; -webkit-border-radius: 10px!important;}
.bdtel{ text-align: center; padding: 20px 20px 0; }
.bdtel p{ font-size: 16px;}
.bdtel h3{font-size: 24px; color: #73c850; margin-bottom: -10px; margin-top: 10px;font-weight: normal;}
.bdtel a{ color: #fff;}
/*yabout*/
.layer-molv{ width: 80%; height: 300px; border-radius: 15px!important; -webkit-border-radius: 15px!important;}
.yabout{display: none; height: 300px;}
.yabout h3{ text-align: center;font-size: 16px; font-weight: normal; height: 26px; line-height: 26px; padding-top: 20px;}
.yabout input{ width: 100%;height: 20px; line-height: 20px; padding: 10px 0 10px 10px; display: block; margin: 0 auto; background: #fff; border:1px solid #ddd; font-size: 16px; border-radius: 5px;}
.xf_sjtx{position: relative; width: 80%; margin: 20px auto;}
.xf_sjtx .hqyz,.ent-info .hqyz{ position: absolute; right: 0; top: 10px; width: 40%; height: 20px;text-align: center; line-height: 20px; font-size: 16px; color: #FFB950; padding-left: 6px; border-left: 1px solid #B2B2B2}
.js_zqn{ width: 100%; height: 48px; line-height: 48px; border-top: 1px solid #ccc;}
.js_zqn span{position: relative; float: left; width: 50%; text-align: center; font-size: 16px;}
.js_zqn span:first-child::after{  position: absolute;right: 0;top: 0;content: ''; width: 1px; height: 48px; background: #d9d9d9;}
.js_zqn span.jsfw{color: #007AFF}
/**/
.toot-tc{ height: 90px;}
.toot-tc2{ height: 20px;}
/**********房源图片**********/
.fytp{ background: #000;}
.fytp .focus{ position: fixed; left: 0; top: 50%; margin-top: -130px; height: 400px;}
.fytp .focus p{ color: #fff; font-size: 14px; padding: 10px;}
.fytp .focus p span{margin-left: 10px;}
.fytp .focus .hd{ display: none;}
/**********小区详情**********/
.xqhx ul{display: -webkit-box;	display: -webkit-flex;	display: flex; width: 100%;}
.xqhx ul li{-webkit-box-flex:1;	-webkit-flex:1;	flex:1; overflow: hidden;}
.xqhx ul li img{ width: 100%; height: 90px;}
.xqhx ul li:nth-child(2){margin: 0 10px}
.xqhx ul li p{margin-top: 5px;}
.xqhx .qbhx{float: right; padding: 0 5px; font-weight: normal; color: #666; border:1px solid #ccc; background: #fff; margin-top: -1px;}
/**********户型列表**********/
.per-list{ padding-top: 14px;}
.per-list h2{height: 22px; line-height: 22px;padding-left: 10px; font-size: 16px; font-weight: normal; border-left: 3px solid #ffb950;}
.per{ height: 80px; overflow: hidden; padding: 13px 10px 13px 120px; border-bottom: 1px solid #ddd;}
.per:last-child{border: none;}
.per img{ width: 100px; height: 80px; margin-left: -110px; margin-bottom: -67px;}
.per h3{font-size: 16px; font-weight: normal;}
.per p{font-size: 14px; color: #999;}
/**********位置及周边**********/
.ditu{position: absolute; left: 0; top: 0; right: 0; width: 100%; height: 100%; z-index: -1;}
.ditu img{ width: 100%; height: 100%;}
.per-dh{position: fixed; left: 0; bottom: 0; width: 100%;}
.per-dh ul{display: -webkit-box;display: -webkit-flex;display: flex; width: 100%;}
.per-dh ul li{-webkit-box-flex:1;-webkit-flex:1;flex:1; overflow: hidden; text-align: center; font-size: 14px; height: 40px; padding-top: 10px; background: #fff; border-right: 1px solid #dfdfdf;}
.per-dh ul li:last-child{border: none;}
.per-dh ul li p{ color: #666; margin-top: -5px;}
.iconb{display: inline-block; width: 19px; height: 16px; background:url(../images/icon2.png) no-repeat;background-size:19px 224px }
.iconb.iconb3{height:16px;width:19px;background-position: 0 -112px;}
.iconb.iconb2{height:16px;width:19px;background-position: 0 -128px;}
.iconb.iconb1{height:16px;width:19px;background-position: 0 -144px;}
.iconb.iconb4{height:16px;width:19px;background-position: 0 -160px;}
.iconb.iconb7{height:16px;width:19px;background-position: 0 -176px;}
.iconb.iconb6{height:16px;width:19px;background-position: 0 -192px;}
.iconb.iconb5{height:16px;width:19px;background-position: 0 -208px;}
.per-dh ul li.active{background: #ffb950;}
.per-dh ul li.active p{ color: #fff;}
.per-dh ul li.active .iconb.iconb3{height:16px;width:19px;background-position: 0 0;}
.per-dh ul li.active .iconb.iconb2{height:16px;width:19px;background-position: 0 -16px;}
.per-dh ul li.active .iconb.iconb1{height:16px;width:19px;background-position: 0 -32px;}
.per-dh ul li.active .iconb.iconb4{height:16px;width:19px;background-position: 0 -48px;}
.per-dh ul li.active .iconb.iconb7{height:16px;width:19px;background-position: 0 -64px;}
.per-dh ul li.active .iconb.iconb6{height:16px;width:19px;background-position: 0 -80px;}
.per-dh ul li.active .iconb.iconb5{height:16px;width:19px;background-position: 0 -96px;}

/*地图小图标*/
.ditu-list{position: absolute; left: 10px; top: 50%;}
.icona{display: inline-block; width: 15px; height: 21px; background: url(../images/icon1.png) no-repeat left top; background-size: 100% auto;}
.icona.icona2{background-position: left -21px;}
.icona.icona3{background-position: left -42px;}
.icona.icona4{background-position: left -63px;}
.icona.icona5{background-position: left -84px;}
.icona.icona6{background-position: left -105px;}
.icona.icona7{background-position: left -126px;}

/**********搜索**********/
.sea-head{padding: 5px 0px 5px 8px; height: 40px; line-height: 40px; background: #f8f8f8;}
.sea-con{position: relative; width: 84%; background: #f0f0f0; border-radius: 5px; -webkit-border-radius: 5px;}
.sea-name{position: relative; width: 65px; height: 40px; line-height: 40px;}
.sea-name h2{ font-size: 13px;font-weight: normal; text-align: center; padding-right: 5px;}
.sea-name:after{position: absolute; right: 0; top: 18px; margin-left:6px;content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #acacac;border-bottom:0;}
/*.sea-name.active:after{border-top:0px;border-bottom:5px solid #ffb950;}*/
.sea-name ul{display: none; position: absolute; left: 0; top: 50px; width: 110px; background: #fff; box-shadow: 0 0 13px #ddd; z-index: 2;}
.sea-name ul:before{position: absolute; left: 9px; top: -5px;border-top:0;border-bottom:5px solid #fff; margin-left:6px;content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;}
.sea-name ul li{ height: 40px;padding-left: 35px; line-height: 40px; font-size: 14px;}
.sea-name ul li:first-child{border-bottom: 1px solid #dfdfdf;}
.sea-input{ width: 60%; margin: 0 10px;}
.sea-input input{ width: 100%; height: 24px; line-height: 24px; padding: 8px 0; vertical-align: top; background: #f0f0f0;}
.search-tips{display: none; position: fixed; left: 0; top: 50px; width: 100%; z-index: 1;}
.search-tips li{ height: 44px; line-height: 44px; background: #fff; border-bottom: 1px solid #e7e7e7; font-size: 14px;}
.search-tips li a{position: relative; display: block; padding-left: 10px;}
.search-tips li a span{ position: absolute; right: 10px; color: #999;}
.search-tips li:last-child{border:none;}

.sea-gb{position: absolute; right: 10px; top: 13px; width: 14px; height: 14px; background: url(../images/bg5.png) no-repeat; background-size: 100% 100%;}
.sea-dt{display: inline-block; width: 16%; text-align: center; color: #ffb950!important;font-size: 16px;}
.sea-hot{ padding: 0 8px;}
.sea-hot h2{height: 36px; line-height: 36px; font-weight: normal; font-size: 14px; color: #666; border-bottom: 1px solid #ececec;}
.sea-tag{ padding: 5px 0;}
.sea-tag a{ float: left; margin:5px; padding: 2px 8px; font-size: 14px; border:1px solid #a0a0a0; border-radius: 5px; -webkit-border-radius: 5px;}
.sea-tag a:hover{background:#f5f5f5; color:#999;}
.sea-list li{ height: 44px; line-height: 44px; border-bottom: 1px solid #e7e7e7; font-size: 15px;}
.sea-list li a{display: block; padding-left: 30px; background: url(../images/bg6.png) no-repeat 10px center; background-size: 14px 14px;}
.sea-list li a:hover{background-color: #f5f5f5;}
.record{width: 100%; line-height: 44px; line-height: 44px; font-size: 15px; color: #999; cursor: pointer;}
.sea-no img{width: 70px; height: auto; margin: 50px auto 20px;}
.sea-no p{font-size: 14px; color: #999;}
/**********地图找房**********/
.map-menu{height: 43px; text-align: center; font-size: 18px; overflow: hidden;}
.map-menu a{display: inline-block; margin: 0 10px; line-height: 40px;}
.map-menu a.active{ color: #ffb950; border-bottom: 3px solid #ffb950;}
.map-con{ position: fixed; left: 0;top: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1}
.map-con .map{position: relative; width: 100%; height: 100%;}
.map-con .ioc1{position: absolute; left: 0; top: 0; display: inline-block; width: 60px; height: 60px; background: #73c850; border-radius: 50%; -webkit-border-radius: 50%; color: #fff; text-align: center; overflow: hidden;z-index: 2; }
.map-con .ioc1 p{ font-size: 14px; padding-top: 10px;}
.map-con .ioc1 em{font-size: 12px;}
.map-con .ioc2{position: absolute; left: 0; top: 0; display: inline-block; height: 110px; color: #fff; text-align: center; overflow: hidden;z-index: 2; }
.map-con .ioc2 p{ margin: 0 auto 5px; width: 36px; height: 36px; line-height: 36px;font-size: 14px; background: #73c850; border-radius: 50%; -webkit-border-radius: 50%;}
.map-con .ioc2 em{ font-size: 12px; background: #73c850; padding: 2px 10px; border-radius: 5px; -webkit-border-radius: 5px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.map-con .ioc3{position: absolute; left: 0; top: 0; display: inline-block; height: 20px; line-height: 20px; padding: 0 5px; background: #73c850; border-radius: 5px; -webkit-border-radius: 5px; font-size: 12px; color: #fff; z-index: 2; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.map-con .ioc3 p{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.map-con .ioc3 span{position: absolute; left: 50%; margin-left: -3px; content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent; border-top:5px solid #73c850;border-bottom:0;}
.map-con .ioc3.active{background: #ff3100;}
.map-con .ioc3.active span{ border-top-color: #ff3100;}
/*地图列表*/
.map-btn1{position: absolute; right: 15px; top: 0px; font-size: 16px; color: #ffb950;}
.map-list{display: none; position: fixed; left: 0; bottom: 0; width: 100%; height: 300px; z-index: 99;}
.map-btn2{ height: 17px; background: url(../images/bg7.png) no-repeat center bottom #fff; background-size: 17px 9px;}
.map-tit{ position: relative; padding-bottom: 10px; padding-left: 8px; border-bottom: 1px solid #e5e5e5;}
.map-tit h2{ font-size: 18px;}
.map-tit p{font-size: 14px; color: #999;}
.map-tit p span{ color: #e63737;}
.map-sc{position: absolute; right: 0; top: 0;}
.dt-list{ height: 221px; overflow: auto; }
/**********委托**********/
.entrust{position: fixed; left: 0; top:0; width: 100%; height: 100%; background: url(../images/img8.jpg) no-repeat; background-size: 100% 100%;}
.ent-fh{position: absolute;display: block; left: 15px; top: 30px; width: 19px; height: 18px; background: url(../images/arrow_l.png) no-repeat; background-size: 100% 100%;}
.entrust h2{margin-top: 72px; margin-bottom: 60px; font-size: 24px; color: #fff; font-weight: normal;}
.entrust h3{ margin: 0 auto; width: 80px; height: 80px; line-height: 80px; background: #f1ba66; color: #fff; font-size: 17px;font-weight: normal; border-radius: 50%; -webkit-border-radius: 50%;overflow: hidden;}
.entrust h3.active{background: #fff;}
.entrust h3.active a{ color: #333;}
.entrust h3 a{display: block; color: #fff;}
.entrust p{ margin: 10px 0 20px; font-size: 14px; color: #fff;}
/*基本信息*/
.ent-menu{ height: 50px; line-height: 50px;}
.ent-menu span{ display: inline-block; color: #999; font-size: 12px; text-align: left;}
.ent-menu span i{display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-top: -2px; margin-right: 5px; background: url(../images/ent.png) no-repeat left top; background-size: 100% auto;}
.ent-menu span.active i{background-position: left bottom;}
.ent-menu em{display: inline-block; width: 8%;margin: 0 2%; height: 1px; background: #ddd; vertical-align: middle;}
.ent-info{margin-top: 15px;}
.ent-info h3{ width: 55px; padding-left: 15px; font-weight: normal; color: #999; font-size: 12px; margin-bottom: 5px;}
.ent-info dl{position: relative; height: 50px; line-height: 50px; font-size: 14px; border-bottom: 1px solid #e5e5e5; background: #fff;}
.ent-info dl:last-child{border:none;}
.ent-info dl.bor{border:none;}
.ent-info dl dt{float: left; width: 55px; height: 50px; padding-left: 15px;}
.ent-info dl dd{position: relative; float: left; width: 75%; height: 50px;}
.ent-info dl dd input{font-size: 15px; width: 86%; border:none;height: 24px; line-height: 24px; padding: 12px 0; vertical-align: top; background: none; }
.ent-info .search-tips{display: none; position: absolute; left: 0;top: 50px;width: 95%; background: #fff; box-shadow: 0 0 5px 2px #d9d9d9; z-index: 1;}
.ent-info .search-tips li{ height: 40px; line-height: 40px; border-bottom: 1px solid #dfdfdf; padding-left: 15px;}
.ent-info .search-tips li:last-child{border:none;}
.ent-btn{ width: 84%; margin: 10px auto 0; padding-bottom: 20px; overflow: hidden;}
.ent-btn p{font-size: 12px; color: #999;}
.ent-btn a{display: block; margin-top: 20px; height: 44px; line-height: 44px; text-align: center; background: #ffb950;font-size: 17px; color: #fff;}
.ent-info .hqyz{top: 15px; width: 105px;}
.ent-wy{position: absolute; right: 15px;}
.ent-img li{position: relative; float: left; width: 20%; margin: 15px 2.5% 0; overflow: hidden;}
.ent-img li img{width: 100%;}
.ent-img .ent-sc{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; z-index: 2;}
.ent-img .ent2{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 3;}
.ent-img .ent2 img{ width: 100%; height: 100%;}
.ent-img .ent2 .entgb{position: absolute; right: 0;top: 0; display: block; width: 16px; height: 16px; background: #fd3d3a; border-radius: 50%; -webkit-border-radius: 50%;z-index: 4; text-align: center; color: #fff; line-height: 12px; cursor: pointer;}
/*完成*/
.ent-wc{ padding: 0 10%;}
.ent-wc h2{margin-top: 50px; background: url(../images/bg9.png) no-repeat center top; background-size: 60px 60px; padding-top: 70px;text-align: center; font-size: 20px; font-weight: normal; color: #46c800;}
.ent-wc p{margin-top: 10px; font-size: 14px; color: #999;}
.ent-wc p a{ color: #007aff;}
.ent-wc .ent-sy{display: block; margin: 30px auto 0; width: 120px; height: 36px; background: #fff; text-align: center; line-height: 36px; border:1px solid #c8c8cd; border-radius: 5px; -webkit-border-radius:5px; font-size: 16px; color: #666; }
.layudemo{ width: 80%; max-width: 300px;}
.pop-ent{display: none; width: 100%; height: 200px; overflow: hidden;}
.pop-ent img{ width: 100%; height: 100%;}

/**********问答**********/
.ask-inp{margin: 10px 15px; height: 30px; display: -webkit-box; display: -webkit-flex; display: flex; overflow: hidden;}
.ask-input{ -webkit-box-flex:1; -webkit-flex:1; flex:1; border-radius:5px; -webkit-border-radius:5px; overflow: hidden;}
.ask-inp input{ width: 100%; height: 24px; line-height: 24px; padding: 3px 0;text-indent: 30px; font-size: 12px; background:url(../images/search.png) no-repeat 10px center #fff; background-size: 14px 14px;}
.ask-inp .ask-dt{padding: 0; width: 60px; color: #ffb950; font-size: 16px; margin-right: -15px; background: none;}
.ask{overflow: hidden;}
.ask-tit{position: relative; margin-top: 10px; padding: 0px 15px 0 15px; height: 35px; line-height: 35px; border-bottom: 1px solid #e5e5e5;}
.ask-tit h2{font-size: 15px; font-weight: normal;}
.ask-tit a{position: absolute; right: 15px; top: 0px; padding-right: 15px; font-size: 12px; color: #999; background: url(../images/bg4.png) no-repeat right center; background-size: 7px 12px;}
.ask-info{position: relative; margin: 18px 15px 0 15px; padding: 0 0 15px 27px; background: #fff; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.ask-info span{position: absolute; left: 0; top: 0; display: block; width: 20px; height: 20px; text-align: center; line-height: 20px; color: #fff; background: #ffb950; border-radius:5px; -webkit-border-radius:5px;}
.ask-info h3{font-size: 14px; font-weight: normal; line-height: 20px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.ask-info p{margin: 5px 0 8px; font-size: 14px; color: #666;}
.ask-info em{padding: 2px 5px; font-size: 14px; color: #999; border:1px solid #ccc;}
.ask-tw{position: fixed; right: 15px; bottom: 20px; display: block; width: 44px; height: 44px; background: #ffb950; text-align: center; line-height: 44px; color: #fff; font-size: 14px; border-radius: 50%; -webkit-border-radius: 50%;}
.ask-list .ask-info:nth-child(even){ background: #f9f9f9}
.ask-list .ask-info{margin: 0; padding: 18px 15px 15px 43px; border:none; }
.ask-list .ask-info span{ left: 15px; top: 18px;}
/*问答详情*/
.ask-art{position: relative; padding: 15px 15px 5px 15px; overflow: hidden;}
.ask-art h2{ font-size: 18px; font-weight: normal; line-height: 28px; text-indent: 24px;}
.ask-art .ask-ww{position: absolute; left: 15px;top: 18px; display: block; width: 20px; height: 20px;text-align: center; line-height: 20px; color: #fff; background: #ffb950; border-radius:5px; -webkit-border-radius:5px; font-size: 12px;}
.ask-art p{margin: 5px 0 8px;font-size: 13px; color: #999;}
.ask-art p.pp1{ font-size: 12px; color: #666;}
.ask-art em{ padding: 2px 5px; font-size: 14px; color: #999; border:1px solid #ccc;}
.ask-art .ask-gz{position: absolute; right: 20px; bottom: 10px; text-align: center;}
.ask-art .ask-gz i{display: inline-block; width: 15px; height: 14px; background: url(../images/gz.png) no-repeat left top; background-size: 100% auto;}
.ask-art .ask-gz span{display: block; margin-top: -3px; font-size: 12px; color: #ccc;}
.ask-art .ask-gz.active i{ background-position: left bottom;}
.ask-art .ask-gz.active span{ color: #ff4431;}
.ask-hd{ padding-bottom: 15px;}
.ask-hd h2,.ask-qt h2,.ask-upl h2{height: 30px; line-height: 30px; font-size: 15px; font-weight: normal; padding: 8px 0 3px 15px; border-bottom: 1px solid #e5e5e5;}
.ask-hd h3{margin: 12px 0 0 15px; height: 36px; line-height: 36px; font-size: 14px; font-weight: normal; overflow: hidden;}
.ask-hd h3 img{ width: 36px; height: 36px;margin-right: 10px;}
.ask-hd span{display: inline-block; color: #ccc; margin-left: 46px;}
.ask-hd p{font-size: 14px; background: #fafafa; margin: 10px 0 0 46px; padding: 10px 15px 10px 10px;}
.ask-qt h2 i{display: inline-block; margin-top: -3px; width: 4px; background: #ffb950; height: 15px; vertical-align: middle; margin-right: 10px;}
.ask-qt p{margin-left: 15px; height: 33px; line-height: 33px; border-bottom: 1px solid #e5e5e5;  }
.ask-qt p:last-child{border:none;}
.ask-qt a{display: block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/*我要提问*/
.ask-up{ padding: 5px 15px;}
.ask-up textarea{ border:none; width: 100%; height: 120px; outline: none;}
.ask-upl h2{border:none;}
.ask-upl ul{ padding: 5px 0 5px 15px;}
.ask-upl li{ float: left; margin: 0 5px 10px 0; width: 80px; height: 28px; line-height: 28px; text-align: center;border:1px solid #a0a0a0; font-size: 14px; color: #666;}
.ask-upl li.active{ background: #ffb950; color: #fff; border-color: #ffb950;}
.ask-btn{display: block; width: 84%; margin: 20px auto; height: 44px; line-height: 44px; text-align: center; color: #fff; font-size: 17px; background: #ffb950;}

/**********个人中心**********/
/*我的*/
.user-info{ padding: 0 8px; border-top: 1px solid #e5e5e5;}
.user-name{position: relative; padding: 15px 0; height: 50px; line-height: 50px; overflow: hidden; border-bottom: 1px solid #e5e5e5;}
.user-name h2{font-size: 15px; color: #999;font-weight: normal;}
.user-name img{width: 50px; height: 50px; margin-right: 10px; border-radius:50%; -webkit-border-radius:50%; vertical-align: top;}
.user-name .user-dl{position: absolute; right: 0px; top: 24px;display: block; width: 90px; height: 30px; text-align: center; line-height: 30px; border: 1px solid #ffb950; color: #ffb950; font-size: 15px; border-radius: 5px; -webkit-border-radius: 5px;}
.user-name i{ position: absolute; right: 5px; top: 34px;}
.user-dd li{float: left; width: 33.333%; height: 40px; padding: 14px 0; text-align: center;}
.user-dd li span{ display: inline-block; height: 18px; line-height: 18px; font-size: 16px;}
.user-dd li:nth-child(1) span{ color: #ffb950;}
.user-dd li:nth-child(2) span{ color: #ff4130;}
.user-dd li:nth-child(3) span{ color: #007aff;}
.user-dd li p{ font-size: 14px; color: #999; margin-top: 1px;}
.user-dd li a{display: block;}
.user-dd li:nth-child(2) a{border-right: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;}
.user-type{margin-top: 15px; overflow: hidden;}
.user-type li{position: relative; height: 44px; line-height: 44px; background: #fff;}
.user-type li span{ margin: -2px 0 0 15px;}
.user-type li em{position: absolute; left: 45px; top: 0; height: 43px; line-height: 43px; width: 100%; display: block;font-size: 15px; border-bottom: 1px solid #e5e5e5;}
.user-type li i{position: absolute; top: 15px; right: 13px; }
.user-type li:last-child em{border:none;}
.arrow{display: inline-block; width: 7px; height: 12px; background: url(../images/bg4.png) no-repeat; background-size: 7px 12px;}
.iconc{display: inline-block; background:url(../images/icon3.png) no-repeat; vertical-align: middle; background-size: 100% auto;}
.iconc.iconc1{height:18px;width:18px;background-position: 0 0;}
.iconc.iconc2{height:18px;width:18px;background-position: 0 -18px;}
.iconc.iconc3{height:18px;width:18px;background-position: 0 -36px;}
.iconc.iconc4{height:18px;width:18px;background-position: 0 -54px;}
.iconc.iconc5{height:18px;width:18px;background-position: 0 -72px;}
.iconc.iconc6{height:18px;width:18px;background-position: 0 -90px;}
.iconc.iconc7{height:18px;width:18px;background-position: 0 -108px; vertical-align: top;}
.iconc.iconc8{height:18px;width:18px;background-position: 0 -126px; vertical-align: top;}
.iconc.iconc9{height:18px;width:18px;background-position: 0 -144px; vertical-align: top;}

/*看房记录*/
.user-record{margin: 10px 0; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.user-reca{position: relative; padding: 10px 15px 10px 40px; background: url(../images/bg10.png) no-repeat 15px 15px #fff; background-size: 17px auto;}
.user-reca h3{ height: 26px; line-height: 26px; font-size: 16px; font-weight: normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.user-reca p{margin-top: 6px; font-size: 14px; color: #999;}
.user-reca p span{ color: #e63737; float: right;}
.user-recb{padding: 0 15px 0 40px; height: 44px; line-height: 44px; background: #fafafa; font-size: 13px;}
.user-recb .as1{ color: #e63737;}
.user-recb .as2{ color: #ffb950;}
.user-time{ color: #999; float: right;}
.recd{ padding-left: 15px; background: #fff;}
/*fwpf*/
.fw{position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,0.5);}
.fwpf{display: none; position: fixed; left: 50%; top: 50%; width: 284px; height: 252px; margin-left: -142px; margin-top: -126px; }
.fwpf-head{ width: 100%; height: 54px;background: url(../images/fw.png) no-repeat left top; background-size: 100% auto;}
.fwpf-head .fwpf-gb{position: absolute; display: inline-block; width: 24px; height: 24px; right: 16px; top: 20px; background: url(../images/fw1.png) no-repeat; background-size: 100% 100%;}
.fwpf-con{ height: 198px; background: #fff; overflow: hidden;}
.fwpf-txt{ margin: 0 15px; padding: 10px 0; height: 65px; border-top: 1px solid #e5e5e5;}
.fwpf-txt p{font-size: 14px; color: #666; height: 66px;overflow: hidden;}
.fwpf-txt textarea{ width: 100%; height: 100%; border:none; outline: none; font-size: 14px; color: #666;}
.fwpf-pj{ padding: 0 15px;}
.fwpf-pj h3{font-size: 14px; font-weight: normal;}
.fwpf-pj dl{ height: 17px; line-height: 17px; padding: 5px 0; margin-left: 40px;}
.fwpf-pj dl dt{float: left; font-size: 14px; font-weight: normal;margin-right: 5px;}
.fwpf-pj dl dd{float: left; display: inline-block; width: 17px; height: 17px; background: url(../images/fw3.png) no-repeat left bottom; background-size: 100% auto; margin-left: 10px;}
.fwpf-pj dl dd.ad{background-position: left top;}
.user-eval .fwpf-txt{ margin: 0; padding: 10px 15px; border:none;}
.user-eval .fwpf-pj{ padding: 15px;}
.user-eval .fwpf-pj h3{font-size: 15px; margin-bottom: 5px;}
.user-eval .fwpf-pj dl{margin-left: 0;}
.user-eval .fwpf-pj dl dt{ color: #666;}
/*问题详情*/
.user-ask,.user-hd{ padding: 15px;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.user-ask p{font-size: 16px; }
.user-ask p span{display: inline-block; margin-right: 5px; width: 20px; height: 20px; text-align: center; line-height: 20px; font-size: 13px; background: #ffb950; color: #fff; border-radius: 5px }
.user-askt{ height: 26px; line-height: 26px; margin-top: 10px; color: #999; overflow: hidden;}
.user-askt span{ display: inline-block;margin-right: 15px; padding: 0 10px; background: #f3f4f3;border-radius: 5px; -webkit-border-radius: 5px;}
.yhd{ float: right; padding-left: 20px; color: #006cdf; background: url(../images/yhd.png) no-repeat left center; background-size: 13px auto}
.user-hd h3{font-weight: normal; color: #999;}
.user-hd h3 em{ font-size: 14px; color: #006cdf; margin-right: 5px;}
.user-hd .user-t{ color: #999; margin: 5px 0 10p;x display: inline-block;}
.user-hd p{ font-size: 14px;}

/*个人收藏*/
.user-fy{ padding: 12px 0;}
.user-sc{ padding: 0 10px;}
.user-fy .fy-r{margin-right: 10px; padding-right: 10px;}
.user-sc-t{ width: 60px; height: 104px; margin-top: -12px; background: #f00;}
.user-sc-t p{ color: #fff; line-height: 104px; text-align: center; font-size: 15px;}
